<!doctype html>
<html lang="en">
<head>
    <title>Machine assisted Reading</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script type=text/javascript src="{{url_for('static', filename='jquery-3.0.0.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='myScript.js') }}"></script>
</head>
<body>

    <div class="learn">
        <font size="2">Target: </font><input type="file" id="myFile" onchange="handleFileSelect(this.files)"/>
        <br/>
        <font size="2">Import: </font><input type="file" id="oldFile" onchange="handleOldSelect(this.files)" disabled/>

        <br/>
        <button onclick="train_send()" disabled> Next </button>
        <button onclick="auto_review()" id="auto" disabled> Auto Review </button>
        <select id="view_options" name="view" style="float:right" onchange="view_selection(this)">
            <option id="random" value="random" onclick="view_random()" selected>Random</option>
            <option id="certain" value="certain" onclick="view_certain()" >Certain</option>
            <option id="reuse" value="reuse" onclick="view_reuse()" >Reuse</option>
        </select>
        <ol id="learn_result" style="overflow-y: scroll; height: 450px">
        </ol>
    </div>

    <div class="read">
        <form id="display" action="javascript:;" onsubmit="labeling_send(this)">
            <label name="which_part" id="which_part"></label>
            <label name="doc_id" id="displaydoc_id"></label>
            <input type="radio" name="labeling" value="yes"> Relevant
            <input type="radio" name="labeling" value="no"> Irrelevant
            <input type="radio" name="labeling" value="undetermined"> Undetermined
            <input type="submit" id="send_label" disabled>
            <p id="truelabel" style="background-color: white; width: 480px; height: 25px" readonly> </p>
            <p id="displaydoc" style="background-color: white; overflow-y: scroll; width: 480px; height: 550px" readonly> </p>
        </form>
    </div>
    <div class="image" id="image_div">
        <h3 id="num_labeled"> </h3>
        <button onclick="plot_send()" disabled> Plot </button>
        <input type="checkbox" id="auto_plot"> Auto Plot
        <button onclick="export_send()" disabled> Export </button>
        <button onclick="restart_send()" disabled> Restart </button>
        <img id="myImage" style="width:440px"/>
    </div>
</body>